<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDFhLUdVTltOPGikB5aSj4imfToIOWkA_c</string>
	<key>GCM_SENDER_ID</key>
	<string>1080983970935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.openaiApp</string>
	<key>PROJECT_ID</key>
	<string>ai-pal-11875</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-pal-11875.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1080983970935:ios:52eea4ec5e5f2a8d699272</string>
</dict>
</plist>